# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Local env files
*.local
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# OS / editor clutter
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Temp
*.tmp
*.temp
C:\Users\ANISH\AppData\Local\Temp\opencode
